*{
	margin: 0;
	text-decoration: none;
}
body{
	background:linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(redroom.avif);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
/*Fonts*/
@font-face {
  font-family: antonio;
  src: url(Antonio-Bold.ttf);
}

/*Header / Navigation Bar*/
/* Style for the navigation bar */
.web-name li{
    display: inline;
}
.web-name li a{
    text-decoration: none;
}
#lled{
	font-size: 30px;
	color: red;
}
#link{
	color: 	white;
}
.menu li{
	padding: 10px;
}
.menu li:hover{
    color: #FFFFFF;
    background: rgba(255,0,0,.4);
    box-shadow: 0 0 10px #FF0000, 0 0 40px #FF0000/*, 0 0 80px #FFFF00*/;
}
.navbar {
    background-color: rgba(0,0,0,.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    border-bottom-style: ridge;
    border-bottom-color: #FF0000;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}
.content{
	padding: 120px 0 0 0; /* Create space below the fixed navbar */
	display: none;
}
/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0,0,0,.7);
        border-top-style: ridge;
        border-top-color: #FF0000;
        border-bottom-style: ridge;
        border-bottom-color: #FF0000;
        position: absolute;
        top: 60px;
        right: 0;
    }

    .menu.show {
        display: flex;
        
    }
    .content.show{
		display: flex;
	}

    .menu li {
        margin: 0;
        padding: 10px;
        text-align: center;

    }

    .menu-toggle {
        display: flex;
    }
}

/*Content Title*/
.content-title{
	margin: 20px;
}
.content-title h1{
	color: white;
	display: inline;
}
.content-title p{
	color: white;
	display: inline;
}

/*Video Card*/
.video-container{
	text-align: center;
	position: relative;
}
.video-card{
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	height: 221.51px;
	width: 	323.67px;
	margin: 1%;
	display: inline-block;
	border-radius: 5px;
}
.video-thumb{
	position: relative;
	
}
#video-thumb img{
	height: 181.51px;
	width: 	323.67px;
	border-radius: 5px;
}
.video-title{

	height: 50px;
	position: relative;
	text-align: left;
	padding-left: 8px;
}
.video-title a{
	color: white;

}
.play-button{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
}
.botton-container{
	height: 100%;
	width: 100%;
	background-color: green;
}
.video-thumb:hover .play-button{
	opacity: 100%;
}
.video-card:hover{
	color: #FFFFFF;
    background: black;
    box-shadow: 0 0 10px #FF0000, 0 0 40px #FF0000/*, 0 0 80px #FFFF00*/;
}

/*Ads*/
#main-ads-button{
	height: 100%;
	width: 100%;
	background-color: blue;
	position: fixed;
	opacity: 0%;
}
.video-ads{
	background-color: green;
	transform: translate(-48%, -47%);
	opacity: 0%;
	width: 	323.67px;
	height: 181.51px;
	position: absolute;
}
.title-ads{
	background-color: yellow;
	height: 100%;
	width: 100%;
	opacity: 0%;
	position: absolute;
	transform: translate(-0%, -80%);
	cursor: pointer;
}